body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/********************************NAVBAR************************************/
nav{
  height: 80px;
  width: 100%;
  background-color: white;
  text-align:center;
  position: fixed;
  z-index: 100;
}

.logo{
  width: 15%;
  display: inline-block;
}

.logoimg{
  height: 70px;
  margin: 0;
}

.menu{
  display: inline-block;
  vertical-align: top;
  margin-top:10px;
}

.menu ul{
  list-style: none;
  padding: 0;
}

.menu a{
  color: white;
}

.menu a:hover{
  color: black;
}

.menu li {
  display: inline-block;
  padding: 0px 20px;
  text-align: center;
  font-size:14pt;
  font-family: 'Roboto', sans-serif;
  color: #979696;
}

.menu p {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size:14pt;
  font-family: 'Roboto', sans-serif;
  color: #979696;
}

.menu li:hover {
  display: inline-block;
  padding: 0px 20px;
  text-align: center;
  font-size:14pt;
  font-family: 'Roboto', sans-serif;
  color: black;
}

/********************************SPLASH************************************/
.homeimg{
	width: 100%;
	height: 100vh;
	background-image: url(images/twodentistschair.jpg);
/*	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative;*/
  text-align: center;
}
.ms{
	width: 60%;
	background-color: rgba(255, 255, 255, 0.8);
	color: #52247F;
  display: none;
/*	position: absolute;
	bottom: 60px;
	left: 70px;
	padding: 20px;*/
	font-weight:bold;
  vertical-align: bottom;
  margin-right:5%;
  padding: 2%;
}

.ms h1{
  font-size: 50px;
  font-stretch: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}
.ms h2{
	font-size: 30px;
	font-stretch: 5px;
	font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}
.cta h3{
	font-size: 27px;
	font-family: 'Roboto', sans-serif;
	/*font-stretch: 1px;*/
}
/*p{
	font-stretch: 5px;
	font-weight: bold;
}*/
.cta{
	width: 20%;
	height: 500px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #52247F;
  display: none;
  margin-top: 15vh; 
  padding: 50px 20px;
/*	position: absolute;
	bottom: 60px;
	right: 70px;
	padding: 10px;*/
	font-weight:bold;
}
.button{
  width: 60%;
	background-color:#9085aa;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:1px solid #796b9b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  text-align: center;
}
.button:hover {
	background-color:#796b9b;
}
.button:active {
	position:relative;
	top:1px;
}

.caption{
	color: white;
	font-family: arial;
	font-style: bold;
	padding-left: 10px;
	font-size: 20px;
}

.services{
	width: 98%;
	padding: 2%;
	display: inline-block;
	background-color: white;
	color: black;
	position: relative;
	vertical-align: top;
}
.carousel{
	width: 100%;
	height: 600px;
	background-image: url(images/twodentistschair.jpg);
/*	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;*/

    /* Full height */
    height: 600px;
    /*padding-top: 20px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/********************************FOOTER************************************/
.footer{
  width: 100%
  height: 300px;
  background-color: #52247F;
  text-align: center;
}

.ft-one, .ft-two, .ft-three, .ft-four{
  display: inline-block;
  width:20%;
  text-align: left;
  vertical-align: top;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.footer div h4{
  text-align: center;
}
.ft-one p, .ft-two p, .ft-three p{
  font-size: 10pt;
}
.footer div a{
  color:white;
}
.footer div a:hover{
  color:black;
}

.ft-two{
  width: 10%;
}

.ft-three{
  text-align: center;
}

.ft-three img{
  width: 40%;
  margin: 2.5%;
  display: inline-block;
}

.ft-three img:hover{
  -webkit-filter: invert(100%);
}

.newstitle{
  font-size: 8pt;
  margin: 5px;
}

.date{
  font-size: 5pt;
  margin: 0;
  padding: 0;
}

.copyright{
  color:white;
  margin: 0;
  padding: 20px;
}